{{- $src := .Get "src" -}}
{{- $src = replaceRE "^/" "" $src -}}
{{- $label := or (.Get "label") "Oefenen in Coria" -}}
{{- $absolute := absURL $src -}}
{{- /* Coria cache't play_from_url op de bestands-URL; fingerprint forceert een verse fetch. */ -}}
{{- $fpFile := "" -}}
{{- $staticFile := printf "static/%s" $src -}}
{{- if fileExists $staticFile -}}
  {{- $fpFile = $staticFile -}}
{{- else if strings.HasPrefix $src "mxl/" -}}
  {{- $native := printf "content-source/%s" (strings.TrimPrefix $src "mxl/") -}}
  {{- if fileExists $native -}}
    {{- $fpFile = $native -}}
  {{- end -}}
{{- end -}}
{{- if $fpFile -}}
  {{- with os.Stat $fpFile -}}
    {{- $absolute = printf "%s?v=%d-%d" $absolute .ModTime.Unix .Size -}}
  {{- end -}}
{{- end -}}
{{- $coria := printf "https://coria.nl/play_from_url?back=coria.nl&url=%s" (urlquery $absolute) -}}
<p class="coria-play"><a href="{{ $coria }}" target="_blank" rel="noopener noreferrer">{{ $label }}</a></p>
